:root {
    --dam: #111;

}

*, *::after, *::before {
    box-sizing: border-box;
    /* border: 1px solid rgb(166, 42, 42);  */
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    height: 100vh;
    min-height: none;
}

.right-aligned {
    display: flex;
    margin: auto 0 auto auto;
    gap: 10px
}

.nav {
    display: flex;
    min-height: 60px;
    align-items: center;
    margin: 0 1em;

    .color-input-div {
        margin: 0 1em;
    }

    .options-div {
        
        align-items: center;
    }

    .placeholder-posts-number {
        width: 4em;
    }
}

.virtual-body {
    display: flex;
    flex-direction: column;
    height: 100%;

    .virtual-nav {
        display: flex;
        padding: 1em;
        height:  5%;
        background-color: black;
        color: white;
        align-items: center;
    }

    .virtual-main {
        background-color: grey;
        min-height: fit-content;
    }

    .virtual-content {
        background-color: white;
        display: flex;
        margin: 3% 15%;

        .virtual-text{
            color: black;
            margin: 1em;

            .placeholder-post {
                padding: 10px;

                &:hover {
                border-radius: 10px;
                box-shadow: 2px 2px 10px black;
                }
            }

            hr {
                border: 2px black solid;
            }
        }
    }
}